@keyframes rocker {
  from {
	transform: rotate(0deg);
  }

  25% {
	transform: rotate(10deg);
  }

  50% {
	transform: rotate(0deg);
  }

  75% {
	transform: rotate(-10deg);
  }

  to {
	transform: rotate(0deg);
  }
}

:root {
  --my-background-gradient: radial-gradient(circle at center, white 0%, #e5e5ea 100%);
  --my-font-color: black;
}

@media (prefers-color-scheme: dark) {
  :root {
	--my-background-gradient: radial-gradient(circle at center, black 0%, #1e1e22 100%);
	--my-font-color: white;
  }
}