body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  color: var(--my-font-color);
  font-family: "Helvetica Neue", "Hevletica", "Arial", sans-serif;
  background: var(--my-background-gradient);
}

#outergrid {
  display: grid;
  grid-template-columns: 1fr 20% 75% 1fr;
  width: 100%;
  height: 100%;
}

#imagegrid {
  display: grid;
  grid-column: 2;
}

#maingrid {
  grid-column: 3;
  display: grid;
  grid-template-columns: 1fr;
}

#title {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-100%);
  transition: transform 1s ease-in-out;
  grid-row: 1 / span 3;
  grid-column: 1;
}

#title.state1 {
  display: none;
}

#title-high {
  display: none;
}

#title-high.state1 {
  transition: opacity 1s linear;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-row: 1 / span 1;
  grid-column: 1;
  opacity: 0;
}

.titleState0,
.titleState1 {
  font-weight: 200;
  font-size: 8vw;
  trasition: transform 100s ease-in-out;
}

.titleState0:hover {
  animation: rocker 1.4s infinite;
  animation-timing-function: linear;
  trasition: transform 100s ease-in-out;
}

#info {
  font-size: 1.2em;
  z-index: -100;
  transition: transform 800ms ease-in-out;
  transition: opacity 1s ease-in-out;
  display: none;
  opacity: 0;
}

#info.state1 {
  padding: 4%;
  display: block;
  grid-column: 1;
  grid-row: 2 / span 2;
  transition: opacity 1s ease-in-out;
}

.fades {
  transition: opacity 800ms linear;
  opacity: 0;
}

.logo {
  grid-column: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo:hover {
  animation: rocker 1.4s infinite;
  animation-timing-function: linear;
}

.logo img {
  transition: opacity 800ms linear, transform 150ms ease-in-out;
}

.logo img:hover {
  transition: opacity 800ms linear, transform 100ms ease-in-out;
  transform: scale(1.2);
}

#gh {
  grid-row: 1;
}

#lin {
  grid-row: 2;
}

#old {
  grid-row: 3;
}

.tooltip {
  position: fixed;
  top: 0;
  left: 0;
  font-size: 0.95rem;
  background-color: #ffffca;
  padding: 0.2rem;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Helvetica Neue", Arial, sans-serif;
}