body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  color: var(--my-font-color);
  background: var(--my-background-gradient);
}

#maingrid {
  width: 100%;
  height: 100%;
  display: grid;
  transition: transform 1s ease-in-out;
  grid-template-columns: 1fr 2fr 6fr 1fr;
}

#title {
  display: flex;
  align-items: center;
  height: auto;
  justify-content: center;
  transform: translateY(-100%);
  transition: transform 1s ease-in-out;
  grid-row: 1 / span 3;
  grid-column: 3;
}

#graphic {
  grid-column: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

#graphic img {
  width: 100%;
}

h1 {
  font-family: "Helvetica Neue";
  font-weight: 200;
  font-size: 8vw;
}

h1:hover {
  animation: rocker 1.4s infinite;
  animation-timing-function: linear;
}

.fades {
  transition: opacity 800ms linear;
  opacity: 0;
}

.logo {
  grid-column: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo:hover {
  animation: rocker 1.4s infinite;
  animation-timing-function: linear;
}

.logo img {
  transition: opacity 800ms linear, transform 150ms ease-in-out;
}

.logo img:hover {
  transition: opacity 800ms linear, transform 100ms ease-in-out;
  transform: scale(1.2);
}

#gh {
  grid-row: 1;
}

#lin {
  grid-row: 2;
}

#old {
  grid-row: 3;
}